.navbar12{
    background-color: transparent;
    position: fixed;
    width: 100VW;
    z-index: 1;
}
body{
    background-color: black;
}
.h1{
    color: aliceblue;
    text-align: center;
}
.bodyS {
    font-family: "Raleway", sans-serif;
    color: #fff;
    background-color: black;
    text-align: center;
  }
  .alinea{
      text-align: left;

  }
